body{
    font-family: 'Nunito',sans-serif;
    margin: 0;
    /* background-color: black; */
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    font-family: inherit;
    padding: 8px;
}

.product-container{
    max-width: 1200px;
    margin-top: 24px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 24px;
    margin-inline:auto;
    display: grid;
    padding: 16px;
}

.product{
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    overflow: hidden;
    border:2px solid #898989;
    padding:16px;
}

.title-container{
    display: -webkit-box;
    margin-top: 12px;
    overflow: hidden;
}

.product h3{
    margin: 0;
    line-height: 1.2;
    max-height: 2.4em;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 1rem;
}
.product-image{
    height: 160px;
    overflow: hidden;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rating-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cta-container{
    display: flex;
    gap: 8px;
}

.cta-container button{
    width: 50%;
    cursor: pointer;
}

.product a:hover{
    text-decoration-line: underline;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid #898989;
}